/* Global Styles */
body {
    background-color: black;
    color: #00FF00;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.game-container {
    width: 600px;
    padding: 20px;
    border: 2px dashed #00FF00;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.section {
    border: 1px dotted #00FF00;
    padding: 10px;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #00FF00;
}

p {
    margin: 5px 0;
}


/* -------------- Optimized styles for the progressbar button */
button {
    background-color: black;
    color: #00FF00;
    border: 1px solid #00FF00;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: inherit;
    position: relative;
    overflow: hidden; /* Permet de contenir la barre à l'intérieur */
}

button:hover {
    background-color: #00FF00;
    color: black;
}

/* Handle devices with coarse pointers (e.g., touch screens) */
@media (hover: none) and (pointer: coarse) {
    button:hover {
        background-color: black; /* Reset to default background */
        color: #00FF00; /* Reset to default text color */
    }

    /* Ensure no lingering focus/active styles */
    button:focus, button:active {
        background-color: black; /* Reset background */
        color: #00FF00; /* Reset text color */
        outline: none; /* Remove any default focus outline */
    }
}

.progress-container {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 255, 0, 0.1); /* Couleur de fond léger pour la barre */
    z-index: 1; /* Derrière le texte */
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%; /* Commence à 0% */
    background-color: rgba(0, 255, 0, 0.5); /* Couleur de la barre */
    z-index: 2; /* Par-dessus le fond mais sous le texte */
    transition: width 0.1s linear;
}